body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.6em;
    font-size: small;
}

h1,h2{
    color: #007e7e;
}

#guarantee{
    border-color: black;
    border-width: 1px;
    border-style: solid;
    background-color: #a7cece;
    padding: 25px;
    margin: 15px;
    background-image: url("images/background.gif");
    background-repeat: no-repeat;
}